body {
  font-family: sans-serif;
  text-align: center;
  background: #f9f9f9;
}

input {
  padding: 5px;
  width: 200px;
}

button {
  padding: 5px 10px;
  margin-left: 5px;
  background: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background: #0056b3;
}

ul {
  list-style: none;
  padding: 0;
  margin-top: 15px;
}

li {
  background: #eee;
  margin: 5px auto;
  padding: 8px;
  width: 270px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

li.completed {
  text-decoration: line-through;
  color: gray;
}

.btn-group button {
  margin-left: 5px;
  padding: 3px 7px;
  border-radius: 3px;
}

.editBtn {
  background: orange;
  color: white;
}

.deleteBtn {
  background: red;
  color: white;
}